.pricing {
  background: url('/img/section-backgrounds/pricing__bg.jpeg') no-repeat top center;
  background-size: cover;
  margin-top: -1px;

  .section-title-three {
    align-self: self-start;
  }

  &__content {
    display: grid;
    grid-template-rows: 0.2fr 1fr;
    align-items: center;
  }

  .pricing-table {
    display: grid;
    grid-template-columns: repeat(4, minmax(20rem,25rem));
    grid-auto-columns: max-content;
    grid-column-gap: 1.3rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem;

    .price-plan {
      height: 45rem;
      background-color: $pricingPlanBG;
      display: grid;
      grid-template-rows: 1fr 5fr;
      text-align: center;

      &__title {
        background-color: $pricingPlanTopBG;
        display: grid;
        align-items: center;
        justify-content: center;
      }

      &__active {
        height: 56rem;
        background-color: $darkPricePlanBG;
        .price-plan__title {
          background-color: $darkPricePlanBG;
        }
      }

      &__main-info {
        display: grid;
        grid-template-rows: 6fr repeat(2,1fr) 8fr;
        justify-items: center;
        align-items: center;

        &_divider {
          width: 6rem;
          height: 0.5rem;
          background-color: $logoViolet;
          justify-self: center;
        }
      }

      &__description {
        display: grid;

        &_active {
          margin-top: 2rem;
          align-self: self-start;
        }

        &_item {
          justify-self: center;
        }
      }

    }
  }
}