.btn_subscribe {
  border: none;
  border-radius: 2rem;
  text-transform: uppercase;
}


.price-plan {
  &__buy-btn {
    padding: 1.5rem 3.5rem;
    text-decoration: none;
    text-transform: uppercase;
    @include fontProps($montserrat, 1.5rem, white);
    background-color: $purchaseBG;
    border-radius: 3rem;
    margin-bottom: 5rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $priceBtnHover;
      color: $priceBtnHoverTXT;
      font-weight: 700;
      transition: all 0.3s ease-in-out;
    }
  }

  &__active {

  }
}

.pricing-block {
  &__link_active {
    font-size: 1.6rem;
    padding: 1.8rem 5rem;
  }
}

.subscribe {
  &-form {
    &__btn {
      @include fontProps($montserrat, 1.3rem, white);
      padding: 1.35rem 4.038rem;
      background-color: $logoViolet;
      transition: 0.3s all ease-in-out;

      &:hover {
        background-color: white;
        border: 0.1rem solid $logoViolet;
        color: $logoViolet;
        transition: 0.3s all ease-in-out;
      }
    }
  }
}