.btn_subscribe {
  border: none;
  border-radius: 2rem;
  text-transform: uppercase;
}


.price-plan {
  &__buy-btn {
    display: inline-block;
    padding: 1.5rem 3.5rem;
    text-decoration: none;
    text-transform: uppercase;
    @include fontProps($montserrat, 1.5rem, white);
    background-color: $purchaseBG;
    border-radius: 3rem;
  }
}

.pricing-block {
  &__link_active {
    font-size: 1.6rem;
    padding: 1.8rem 5rem;
  }
}

.subscribe {
  &-form {
    &__btn {
      @include fontProps($montserrat, 1.3rem, white);
      padding: 1.35rem 4.038rem;
      background-color: $logoViolet;
    }
  }
}