@mixin fontPropsWithWeight($family, $size, $color, $weight){
  font-family: $family;
  font-size: $size;
  color: $color;
  font-weight: $weight;
}
@mixin fontProps($family, $size, $color){
  font-family: $family;
  font-size: $size;
  color: $color;
}

@mixin hoverFocusActive(){
  text-decoration: none;
  outline: none;
  border: none;
  box-shadow: none;
}
