.section-title-three {
  &__heading {
    @include fontPropsWithWeight($montserrat, 4.5rem, white, 700);
    text-align: center;
  }
}

.mentions {
  &__small-info {
    @include fontPropsWithWeight($lato, 1.4rem, rgba(162, 145, 165, 0.8),400);
    text-align: center;
  }
}

.mentions-item {
  &__text {
    @include fontPropsWithWeight($lato, 1.6rem, white, 700);
    font-style: italic;
  }
}

.price-plan {
  &__name {
    @include fontProps($lato, 2.4rem, white);
    text-transform: uppercase;
  }
  &__price {
    @include fontPropsWithWeight($montserrat, 6rem, white, 700);
  }
  &-small-info {
    @include fontPropsWithWeight($montserrat, 1.4rem, white, 200);
    text-transform: uppercase;
  }
  &__description {
    &_item {
      @include fontProps($montserrat, 1.6rem, white);
      margin-top: 2rem;
    }
  }
  &__currency {
    font-weight: 400;
  }
}

.pricing-block {
  &__currency {
    font-weight: 400;
  }
}

.subscribe {
  &__title {
    display: inline-block;
    @include fontPropsWithWeight($montserrat, 3rem, $darkVioletTitle, 700);
  }
  &-form {
    display: inline-block;
    &__input {
      color: #c8cbcf;
      &::placeholder {
        @include fontProps($montserrat, 1.4rem, $inputPlaceholderText);
      }
    }
  }
}

.footer {
  &_logo-img {
  }
}

.logo {
  display: grid;
  grid-template-columns: 1fr 5fr;
  text-decoration: none;

  &:hover img{
    content: url("../img/logo_dark.png");
  }

  &:hover .logo__text_size-s{
    color: $logoFooterDark;
  }
  &:hover .logo__text_dark{
    color: $logoViolet;
  }

  &_logo-img {
    align-self: center;
  }

  &__text {
    align-self: center;
    font-family: $montserrat, sans-serif;
    color: $logoViolet;
    text-transform: uppercase;

    &_size-s {
      font-size: 2.4rem;
    }

    &_dark {
      color: $logoFooterDark;
    }

  }

  &__logo-img {
    width: 4rem;
    height: 4rem;
  }

}

.site-description {
  &__title {
    @include fontProps($montserrat, 1.8rem, $vertNavDark)
  }
  &__text {
    @include fontProps($montserrat, 1.4rem, $darkGreyText)
  }
}

.vertical-navigation {
  &__title {
    @include fontProps($montserrat, 1.8rem, $vertNavDark)
  }
  .vertical-nav {
    &__link {
      text-decoration: none;
      @include fontProps($montserrat, 1.4rem, $logoViolet);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.site-contacts {
  .contact-phone {
    &__number {
      text-decoration: none;
      @include fontPropsWithWeight($montserrat, 3rem, $phoneBig, 700)
    }
    &__call-time {
      @include fontPropsWithWeight($montserrat, 1.2rem, $darkGreyText, 400)
    }
  }

  .contact-address {
    &__city {
      @include fontProps($montserrat, 1.6rem, $vertNavDark)
    }
    &_city-place {
      @include fontProps($montserrat, 1.4rem, $darkGreyText)
    }
  }
}

