$montserrat: 'Montserrat';
$lato: 'Lato';
$ss: sans-serif;
$darkVioletTitle: #635c73;
$inputPlaceholderText: #c8cbcf;
$logoViolet: #8d81ac;
$logoFooterDark: #333333;
$darkGreyText: #848e97;
$vertNavDark: #323232;
$phoneBig: #3f3f3f;
$purchaseBG:  rgba(255, 255, 255, 0.15);
$mentionsUnderLine: #645666;
$pricingPlanBG: rgba(255, 255, 255, 0.11);
$pricingPlanTopBG: rgba(255, 255, 255, 0.06);