$montserrat: Montserrat, sans-serif;
$lato: Lato, sans-serif;
//$ss: sans-serif;
$darkVioletTitle: #635c73;
$inputPlaceholderText: #c8cbcf;
$logoViolet: #8d81ac;
$logoFooterDark: #333333;
$darkGreyText: #848e97;
$vertNavDark: #323232;
$phoneBig: #3f3f3f;
$purchaseBG:  rgba(255, 255, 255, 0.15);
$mentionsUnderLine: #645666;
$pricingPlanBG: rgba(255, 255, 255, 0.11);
$pricingPlanTopBG: rgba(255, 255, 255, 0.06);
$priceBtnHover: rgba(255, 255, 255, 0.7);
$priceBtnHoverTXT: #7f6d78;
$darkPricePlanBG: rgba(0, 0, 0, 0.13);
$darkPricePlanBGTop: rgba(0, 0, 0, 0.11);