@media (min-width: 481px) and (max-width: 992px) {
  .mentions {
    grid-template-rows: 0.5fr 1.3fr 0.7fr;

    &__small-info {
      margin: 0 5rem;
    }

    &-list {
      grid-template-rows: repeat(3,minmax(7rem, 14rem));
      grid-template-columns: repeat(2,minmax(15rem, 30rem));
      grid-row-gap: 0;
      grid-column-gap: 2rem;
    }
  }
}

@media (max-width: 480px) {
  .mentions {
    grid-template-rows: 1fr 6fr 1fr;

    .section-title-three {
      font-size: 3.6rem;
    }

    &-list {
      grid-template-columns: 1fr;
      margin: 0 4rem;
    }

    &__small-info {
      margin: 0 5rem;
    }
  }
}