html {
  font-size: 10px;
}
.container {
  width: 128rem;
  margin: 0 auto;
}
@import "base/variables";
@import "base/mixins";
@import "base/typography";
@import "base/buttons";
@import "sections/mentions";
@import "sections/pricing";
@import "sections/section-subscribe";
@import "sections/footer";
@import "media/media";